{% extends 'base.html' %}
{% load static %}

{% block title %}Services - Your Hospital Name{% endblock %}

{% block content %}
    <section class="section" style="background-color: #654321;">
        <h2 class="section-title">Our Services</h2>
        <div class="card-grid">
            {% for service in services %}
            <div class="card">
                <h3><a href="{% url 'service_detail' service.id %}">{{ service.name }}</a></h3>
                {% if service.image %}
                    <img src="{{ service.image.url }}" alt="{{ service.name }}" style="max-width: 100%; height: auto;">
                {% endif %}
                <p>{{ service.description }}</p>

            </div>
            {% empty %}
                <p>No services listed yet.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}